
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>صفحه اصلی</title>
    <link rel="stylesheet" href="~/Content/Home/normalize.min.css">
    <link rel="stylesheet" href="~/Content/Home/style.css">
</head>
<body>
    <div class="container demo">
        <div class="content">
            <div id="large-header" class="large-header">
                <canvas id="demo-canvas"></canvas>
                <a href="/Acount/Index">
                <h1 class="main-title">
                    <span class="thin">

                    </span>
                    سامانه استاد یار
                </h1>
                 </a>
            </div>
        </div>
    </div>
    <script src='~/Scripts/Home/TweenLite.min.js'></script>
    <script src='~/Scripts/Home/EasePack.min.js'></script>
    <script src='~/Scripts/Home/demo.js'></script>

    <script src="~/Scripts/Home/index.js"></script>


</body>
</html>
